#geral {
    /* position: absolute;*/
    background-color: cyan;
    width: 100px;
    height:200px ;
    color: black;

}

 #coluna01 {
    width: 100%;
    height: 30%;

}
 #coluna02{
    width: 100%;
    height: 30% ;
 }

 #coluna03{
    width: 100%;
    height: 30% 
 }